# ===============================
# Server
# ===============================
PORT=3000

# ===============================
# JWT
# ===============================
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d

# ===============================
# Database (PostgreSQL service in Docker)
# ===============================
DATABASE_URL=postgresql://postgres:postgres123@postgres:5432/leyu_db
DATABASE_SCHEMA=public

# ===============================
# Redis
# ===============================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# ===============================
# RabbitMQ
# ===============================
RABBITMQ_URI=amqp://guest:guest@rabbitmq:5672
RABBITMQ_QUEUE_NAME=notifications.queue
RABBITMQ_EXCHANGE_NAME=notifications.exchange
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_ROUTING_KEY=notification.created
RABBITMQ_DURABLE=true

DATASET_RABBITMQ_EXCHANGE_NAME=dataset.exchange
DATASET_RABBITMQ_QUEUE_NAME=dataset.queue
DATASET_RABBITMQ_ROUTING_KEY=dataset.action

# ===============================
# SMS Providers
# ===============================
SMS_BASE_URL=https://sms.com/api
SMS_IDENTIFIER=your_SMS_IDENTIFIER
SMS_SENDER=YourSenderName
SMS_TOKEN=your_afro_sms_token

# ===============================
# MinIO
# ===============================
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minio_access_key
MINIO_SECRET_KEY=minio_secret_key
MINIO_BUCKET=your_bucket_name
MINIO_S3_FORCE_PATH_STYLE=true
MINIO_SIGNATURE_VERSION=v4

# ===============================
# Email
# ===============================
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_app_password

# ===============================
# Santim Pay
# ===============================
SANTIM_PAY_PRODUCTION_BASE_URL=https://services.santimpay.com/api/v1/gateway
PAYMENT_BASE_URL=https://testnet.santimpay.com/api/v1/gateway
PAYMENT_MERCHANT_ID=your_merchant_id
PAYMENT_NOTIFY_URL=http://backend:3000/finance

WALLET_INTEGRITY_SECRET=test
